@charset "utf-8";
/* CSS Document */

		.header {
			
			background:url(../images/header-en.jpg);

			}
		.info {
			float:right;
			margin-right:18px;
			width:150px;
			color:#fff;
			direction:rtl;
		}
		.name {
			font-size:19px;
			font-family:Arial, Helvetica, sans-serif;
			}
			.brif {
				font-family:Verdana, Geneva, sans-serif;
				font-size:15px;}
		.quran {
			float:left;
			margin-left:18px;
			}
			.choose_sora , .kare2{
				margin-top:40px;
				margin-right:18px;
				clear:both;
				float:right;
				}
				.kare2 {
					margin-top:15px;
					}
		.buttons {
			position:absolute;
			height:68px;
			bottom:0;
			width:100%;
			}
.play , .pause , .listen{
	width:99px;
	height:31px;
	background:url(../images/play.jpg);
	border:0;
	padding:0;
	margin-top:19px;
	float:right;
	margin-right:31px;
	cursor:pointer;
	}
	
	.listen {
		margin-right:48px;
		
		background:url(../images/listen.jpg);
		}
	.pause {
		background:url(../images/pause.jpg);
		}	
