@charset "utf-8";
/* CSS Document */
body{
    margin: 0;
    padding: 0;
    background:#3e3e3e url(../images/star.png) repeat;
}
.header, .footer{
    background:url(../images/header.png) repeat-x;
    height:81px;
    width:100%;
}
.footer{
    position:fixed;
    bottom:0;
    text-align:center;
    color:#FFF;
    direction:rtl;
    height:79px;
    line-height:75px;
    font:bold 14px/79px Arial, Helvetica, sans-serif;

}
.footer a{color:#999;}
.footer a:hover{color:#FFF;}
.logo{ margin:5px 5% 0 0; float:right;}
.container{
    width:90%;
    margin:0 auto;
}
p{
    text-align:center;
    margin:65px 0;
}
.clear{
    float:none;
    clear:both;
}
span.choose_sora{
	text-align:right;
}
.listen {
position: relative;
overflow: visible;
display: inline-block;
padding: 0.5em 1em;
border: 1px solid #D4D4D4;
margin: 0;
text-decoration: none;
text-shadow: 1px 1px 0 white;
font: 14px/normal sans-serif;
color: #333;
white-space: nowrap;
cursor: pointer;
outline: none;
background-color: #ECECEC;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#ECECEC));
background-image: -moz-linear-gradient(#F4F4F4, #ECECEC);
background-image: -o-linear-gradient(#F4F4F4, #ECECEC);
background-image: linear-gradient(#F4F4F4, #ECECEC);
-webkit-background-clip: padding;
-moz-background-clip: padding;
-o-background-clip: padding-box;
-webkit-border-radius: 0.2em;
-moz-border-radius: 0.2em;
border-radius: 0.2em;
zoom: 1;
font-weight:bold;
}
.listen.icon::before {
content: "";
position: relative;
top: 1px;
float: right;
width: 15px;
height: 14px;
background: url(../images/play.png) -1px -1px no-repeat;
right: -7px;
}