@charset "utf-8";
/* CSS Document */

		.header {
			
			background:url(../images/header-en.jpg);

			}
		.info {
			margin-left:18px;
			direction:ltr;
		}
		
			.choose_sora , .kare2{
				
				margin-left:18px;
				margin-right:0;		
				float:left;
				}
				
	
.play , .pause , .listen{
	float:left;
	margin-left:31px;
	}
	
	.listen {
		margin-left:48px;
		margin-right:0;
		background:url(../images/listen-en.jpg);
		}
div.chzn-container ul.chzn-results li {

  /*** arabic ***/ 
  direction: ltr;}
  div.chzn-container a.chzn-single span {

  
  /*** arabic **/
  direction: ltr;}