@charset "utf-8";
/* CSS Document */
body {
	margin:0px;
	padding:0px;
	width:328px;
	height:419px;
}
.container {
	background:url(../images/main_bg.jpg) no-repeat;
	width:328px;
	height:419px;
}
.header {
	width:328px;
	height:43px;
	background:url(../images/header.jpg);
	margin-bottom:13px;
}
.info {
	float: right;
	margin-right: 24px;
	direction: rtl;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin-top: 26px;
	font-size: 19px;
	margin-left: 18px;
}
.name {
	font-size:19px;
}
.brif {
	font-size:17px;
}
a {
	color:#bfff43;
}
.quran {
	float:left;
	margin-left:18px;
	margin-top: 26px;
	display:none;
}
.choose_sora, .kare2 {
	margin-top:4px;
	margin-right:18px;
	clear:both;
	float:right;
}
.kare2 {
	margin-top:15px;
}
.buttons {
	position:absolute;
	height:68px;
	bottom:0;
	width:100%;
}
.play, .pause, .listen {
	width:99px;
	height:31px;
	background:url(../images/play.jpg);
	border:0;
	padding:0;
	margin-top:19px;
	float:right;
	margin-right:31px;
	cursor:pointer;
}
.listen {
	margin-right:48px;
	background:url(../images/listen.jpg);
}
.pause {
	background:url(../images/pause.jpg);
}
#waiting {
	position: absolute;
	left: 85px;
	top: 19px;
}
.chzn-container .chzn-results li , .chzn-container-single .chzn-single span , .chzn-container-single .chzn-search input {
	text-align: right;
direction: rtl;
	}